{% extends 'base.html' %}

{% block title %}Add a New Pet{% endblock title %}

{% block content %}
  <h1 class="display-3">Add a Pet</h1>
  <div class="card mb-3 shadow">
    <div class="card-body">
      <form action="/pets/create" method="post">
        <div class="mb-3">
          <label class="form-label" for="name">Name:</label>
          <input class="form-control" type="text" name="name" id="name" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="type">Type:</label>
          <input class="form-control" type="text" name="type" id="type" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="birthday">Birthday:</label>
          <input
            class="form-control"
            type="date"
            name="birthday"
            id="birthday"
          />
        </div>
        <fieldset>
          <legend>Is your pet derpy?</legend>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="is_derpy"
              id="yes"
              value="1"
            />
            <label class="form-check-label" for="yes">Yes, totes derpy!</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="is_derpy"
              id="no"
              value="0"
            />
            <label class="form-check-label" for="no">Absolutely not.</label>
          </div>
        </fieldset>
        <div class="text-end">
          <button class="btn btn-primary" type="submit">Add Pet</button>
        </div>
      </form>
    </div>
  </div>
  <div class="text-end">
    <a class="btn btn-primary" href="/pets">Back to view all</a>
  </div>
{% endblock content %}
