[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dev = "flask --app app run -h 'localhost' -p 5150 --debug"
prod = "flask run -h 'localhost' -p 5200 --no-debug"