<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/bootstrap.min.css') }}"
    />
    <title>Edit Pet</title>
  </head>
  <body>
    <div class="py-3 bg-dark-subtle">
      <div class="container">
        <h1 class="display-3">PETS CRUD</h1>
      </div>
    </div>
    <div class="container">
      <h2 class="display-5 my-4">Edit Pet</h2>
      <div class="card mb-3 shadow">
        <div class="card-body">
          <form action="/pets/update" method="post">
            <input type="hidden" name="pet_id" value="{{ pet.id }}" />
            <div class="mb-3">
              <label class="form-label" for="name">Name:</label>
              <input
                class="form-control"
                type="text"
                name="name"
                id="name"
                value="{{ pet.name }}"
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="type">Type:</label>
              <input
                class="form-control"
                type="text"
                name="type"
                id="type"
                value="{{ pet.type }}"
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="birthday">Birthday:</label>
              <input
                class="form-control"
                type="date"
                name="birthday"
                id="birthday"
                value="{{ pet.birthday }}"
              />
            </div>
            <fieldset>
              <legend>Is your pet derpy?</legend>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="is_derpy"
                  id="yes"
                  value="1"
                  {{ 'checked' if pet.is_derpy }}
                />
                <label class="form-check-label" for="yes"
                  >Yes, totes derpy!</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="is_derpy"
                  id="no"
                  value="0"
                  {{ 'checked' if not pet.is_derpy }}
                />
                <label class="form-check-label" for="no">Absolutely not.</label>
              </div>
            </fieldset>
            <div class="text-end">
              <button class="btn btn-primary" type="submit">Edit Pet</button>
            </div>
          </form>
        </div>
      </div>
      <div class="text-end">
        <a class="btn btn-primary" href="/pets">Back to view all</a>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
