<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand fs-3" href="{{ url_for('main.index') }}">
      BOOPS PLUS
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            href="{{ url_for('main.index') }}"
            class="nav-link {{ 'active' if request.path == url_for('main.index') }}"
            aria-current="{{ 'page' if request.path == url_for('main.index') else 'false' }}">
            Home
          </a>
        </li>
        {% if not current_user.is_authenticated %}
          {% include '/shared/logged-out.html' %}
        {% else %}
          {% include '/shared/logged-in.html' %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
