{% extends 'base.html' %}

{% block content %}
  <h1 class="display-3">All Records</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
        <tr>
          <td>{{ record.title }}</td>
          <td>{{ record.artist }}</td>
          <td class="d-flex align-items-center gap-2">
            <a href="/records/{{ record.id }}" class="btn btn-sm btn-primary"
              >View</a
            >
            <a
              href="/records/{{ record.id }}/edit"
              class="btn btn-sm btn-warning"
              >Edit</a
            >
            <form action="/records/{{ record.id }}/delete" method="post">
              <button type="submit" class="btn btn-sm btn-danger">
                Delete
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
